<h1>Lista de stock</h1>
<table class="table">
  <thead>
    <tr>
      <th>Imagen:</th>
      <th>Producto:</th>
      <th>Temporada:</th>
      <th>Precio:</th>
      <th>Stock:</th>
      <th>Cantidad de compra:</th>
    </tr>
  </thead>
  <tbody>
    @for (producto of productos; track producto.nombre){
    <tr [ngClass]="{ oferta: producto.oferta }">
      <td>
        <img [src]="producto.imagen" [alt]="producto.nombre" />
      </td>
      <td>{{ producto.nombre | uppercase }}</td>
      <td>{{ producto.temporada }}</td>
      <td>{{ producto.precio | currency }}</td>
      @if(producto.stock > 0){
      <td>{{ producto.stock }}</td>
      } @else {
      <td><span class="badge badge-warning"> Sin stock </span></td>
      }
      <td>
        <button class="btn btn-primary btn-sm" (click)="discantidad(producto)">-</button>
        <input type="text" [(ngModel)]="producto.cantidad" style="width:80px">
        <button class="btn btn-primary btn-sm" (click)="addcantidad(producto)">+</button>
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="4">No hay ropa para mostrar</td>
    </tr>
    }
  </tbody>
</table>
