<h1>Lista de personajes Cyberpunk 2077</h1>
<table class="table">
  <thead>
    <tr>
      <th>Retrato:</th>
      <th>Nombre:</th>
      <th>Edad:</th>
      <th>Faccion:</th>
      <th>Estatus:</th>
      <th>Rol:</th>
    </tr>
  </thead>
  <tbody>
    @for (personaje of personajes; track personaje.nombre){
    <tr [ngClass]="{'principal':personaje.principal}">
      <td><img [src]="personaje.retrato" [alt]="personaje.nombre" /></td>
      <td>{{ personaje.nombre |uppercase }}</td>
      <td>{{ personaje.edad }}</td>
      <td>{{ personaje.faccion }}</td>
      <td>{{ personaje.estatus }}</td>
      <td>{{ personaje.rol }}</td>
      @if(!personaje.disponible){
      <td>
        <span class="badge bg-warning text-dark">Personaje seleccionado</span>
      </td>
      }
    </tr>
    } @empty {
    <tr>
      <td colspan="4">No hay personajes para mostrar</td>
    </tr>
    }
  </tbody>
</table>
