<h1>Cyberpunk, tu marca de confianza</h1>
<div class="container">
  <h2>Innovando en la industria Argentina</h2>
  <p>
    Somos un emprendimiento fundado en 2018, nos dedicamos a la confeccion,
    venta y distribucion de moda japonesa
  </p>
  <p>¡Sé parte de Cyberpunk!</p>
  <h2>Nuestros medios de contacto</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis neque
    reiciendis placeat, sint quaerat iusto, molestiae voluptatem fugiat
    accusantium sit dolorem atque debitis quas officia harum cum enim
    voluptatibus soluta.
  </p>
</div>
